{% extends 'blog/base.html' %}

{% block content %}
<h1>About me</h1>
<div >
  <p>My name is<<strong>Tvamendra Chandra Saxena</strong> , I am a final year B-Tech Computer Science Engineer studying in SRM Institute of Science and Technology. I live in NOIDA, Uttar Pradesh. I have completed my 10th and 12th from Apeejay School NOIDA. </p>
<p>My Interests  includes Machine Learning, Natural Language Processing, Artificial intelligence etc. I also did one month internships in Honda Cars India Ltd and Religare Broking. My skillsets include <strong>C++, C Java , Python , SQL ,Keras ,HTML/CSS/Django ,Redis and MongoDB</strong>. I was also a member of IEEE student branch corporate group and was a Committee Head in Aaruush (National Level Techno Management fest) .<p>
<p>I have made this project Using HTML and CSS for front end and Django in backend. This project Is basically a Web site which one can use to put his/her own blogs and other people visiting this site can read and comment on them.
</p>
</div>

{% endblock %}
